<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else "ZooAdmin" }}</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>

<body class="auth-body">

<div class="auth-wrapper">

    <!-- Левая колонка с белкой -->
    <div class="auth-left">
        <img src="/static/squirrel.png" class="auth-squirrel">
    </div>

    <!-- Форма логина -->
    <div class="auth-box">
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>