{% extends "base.html" %}
{% block content %}

<h2>Добавить неисправность</h2>

<form method="post" action="/malfunctions/add">

    <label>Место:</label><br>
    <select name="place" required>
        {% for loc in locations %}
            <option value="{{ loc }}">{{ loc }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label>Описание проблемы:</label><br>
    <textarea name="description" rows="4" cols="40" required></textarea>
    <br><br>

    <button type="submit">Сохранить</button>
</form>

{% endblock %}