{% extends "base.html" %}
{% block content %}

<h2>Неисправности</h2>

<p><a href="/malfunctions/add">➕ Добавить неисправность</a></p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>Сотрудник</th>
        <th>Место</th>
        <th>Описание</th>
        <th>Статус</th>
    </tr>
    </thead>

    <tbody>
    {% for m in malfunctions %}
        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.created_at }}</td>
            <td>{{ m.employee_name }}</td>
            <td>{{ m.place }}</td>
            <td>{{ m.description }}</td>
            <td>{{ m.status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}