{% extends "base.html" %}
{% block content %}

<h2>Медкарта животного: {{ animal.name }} ({{ animal.species }})</h2>

<div style="margin: 15px 0;">
    {% if request.state.user.role == 'zootechnician' %}
    <a href="/animals/{{ animal.id }}/medical/add" class="btn">➕ Добавить осмотр</a>
    {% endif %}
    <a href="/medical" class="btn">← Назад</a>
</div>

<table>
    <thead>
    <tr>
        <th>№</th>
        <th>Дата осмотра</th>
        <th>Сотрудник</th>
        <th>Диагноз</th>
        <th>Лечение</th>
        <th>Прививки</th>
        <th>Результат</th>
    </tr>
    </thead>

        <tbody>
    {% for r in records %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ r.date.strftime('%d.%m.%Y') }}</td>
        <td>{{ r.employee }}</td>
        <td>{{ r.diagnosis }}</td>
        <td>{{ r.treatment or "" }}</td>
        <td>{{ r.vaccines or "" }}</td>
        <td>{{ r.result }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}