{% extends "base.html" %}
{% block content %}

<h2>Добавить запись медосмотра — {{ animal.name }} ({{ animal.species }})</h2>

{% if error %}
<div style="background:#ffcccc; padding:10px; margin-bottom:15px; border:1px solid #cc0000;">
    {{ error }}
</div>
{% endif %}

<form method="post">
    <label>Диагноз:</label><br>
    <input type="text" name="diagnosis" required placeholder="Если патологий нет:«нет»">
    <br><br>

    <label>Назначенное лечение:</label><br>
    <textarea name="treatment" rows="3">{{ form.treatment if form else '' }}</textarea>
    <br><br>

    <label>Прививки:</label><br>
    <input type="text" name="vaccines" value="{{ form.vaccines if form else '' }}">
    <br><br>

    <label>Результат процедуры (обязательно):</label><br>
    <input type="text" name="result" required value="{{ form.result if form else '' }}">
    <br><br>

    <button class="btn">Сохранить</button>
</form>

<br>
<a href="/animals/{{ animal.id }}/medical" class="btn">← Назад</a>

{% endblock %}