{% extends "base.html" %}
{% block content %}

<h2>Изменить рацион</h2>

<form method="post">

    <label>Вид животного:</label><br>
    <input type="text" value="{{ ration.ВидЖивотного }}" readonly>
    <br><br>

    <label>Корм:</label><br>
    <select name="feed_id" required>
        {% for f in feeds %}
            <option value="{{ f.IDКорма }}"
                    {% if f.IDКорма == ration.IDКорма %}selected{% endif %}>
                {{ f.Наименование }}
            </option>
        {% endfor %}
    </select>
    <br><br>

    <label>Количество (кг):</label><br>
    <input type="number" name="amount" min="1" step="1" value="{{ ration.Количество }}" required>
    <br><br>

    <label>График:</label><br>
    <input type="text" name="frequency" value="{{ ration.ЧастотаКормления }}" required>
    <br><br>

    <button class="btn">Сохранить</button>
</form>

{% endblock %}