{% extends "base.html" %}
{% block content %}

<h2>Добавить рацион</h2>

{% if error %}
<div style="background:#d9534f;color:white;padding:10px;border-radius:5px;margin-bottom:15px;">
    {{ error }}
</div>
{% endif %}

<form method="post">

    <label>Вид животного:</label><br>
    <input type="text" name="species" required>
    <br><br>

    <label>Корм:</label><br>
    <select name="feed_id" required>
        {% for f in feeds %}
            <option value="{{ f.IDКорма }}">{{ f.Наименование }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label>Количество (кг):</label><br>
    <input type="number" name="amount" min="1" step="1" required>
    <br><br>

    <label>График:</label><br>
    <input type="text" name="frequency" required>
    <br><br>

    <button class="btn">Сохранить</button>
</form>

{% endblock %}